@inject ISuspensionService suspensionService
@implements IDisposable

@page "/ChannelSuspensions"

<div class="container-fluid">
    @if (suspensionService.Channels != null)
    {
        <div class="row">
            <div class="col-12">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="channelSelectMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        @(string.IsNullOrEmpty(suspensionService.CurrentlySelectedChannel) ? "Channels" : suspensionService.CurrentlySelectedChannel)
                    </button>
                    <div class="dropdown-menu" aria-labelledby="channelSelectMenu">
                        @foreach (var channel in suspensionService.Channels)
                        {
                            <button @onclick="async () => await SelectChannel(channel.ChannelName)" class="dropdown-item" type="button">@channel.ChannelName</button>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-12">
            @if (suspensionService.Suspensions == null)
            {
                <p>Loading</p>
            }
            else
            {
                if (suspensionService.Suspensions.Count == 0)
                {
                    <p>No suspensions! Lucky!</p>
                }

                <div class="accordion" id="suspensionsAccordion">
                    @foreach (var suspension in suspensionService.Suspensions.OrderBy(x => x.InvalidSuspension).ThenByDescending(x => x.Timestamp))
                    {
                        <div class="card bg-dark">
                            <div class="card-header">
                                <button class="btn btn-secondary btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="@("#suspension"+counter)" aria-expanded="false" aria-controls="collapseThree">
                                    @suspension.Timestamp.FancyFormat() -
                                    <b>@suspension.Username</b>
                                    @(suspension.Duration == 0 ? "Permanent" : $"{suspension.Duration.ToString()} seconds")
                                    @suspension.SuspensionType.ToString()
                                </button>
                                @if (suspension.InvalidSuspension)
                                {
                                    <button @onclick="async _ => await UpdateValidity(suspension.SuspensionId, invalidate: false)" class="btn btn-danger btn-sm">Invalidated</button>
                                }
                                else
                                {
                                    <button @onclick="async _ => await UpdateValidity(suspension.SuspensionId, invalidate: true)" class="btn btn-success btn-sm">Mark as Invalid</button>
                                }
                            </div>
                            <div id="@("suspension"+counter)" class="collapse" data-parent="#suspensionsAccordion">
                                <div class="card-body">
                                    @foreach (var message in suspension.Messages)
                                    {
                                        <p><b>@message.Timestamp</b> @message.Message</p>
                                    }
                                </div>
                            </div>
                        </div>
                        { counter++; }
                    }
                </div>
            }
        </div>
    </div>
</div>

@code {
    private int counter = 0;

    private async Task SelectChannel(string channelName)
    {
        await suspensionService.FetchSuspensionForChannel(channelName);
    }

    private async Task UpdateValidity(Guid suspensionId, bool invalidate)
    {
        await suspensionService.UpdateSuspensionValidity(suspensionId, invalidate);
    }

    protected override async Task OnInitializedAsync()
    {
        suspensionService.OnChange += StateHasChanged;

        await suspensionService.Initialize();
    }

    public void Dispose()
    {
        suspensionService.OnChange -= StateHasChanged;
    }
}
