@inject IUserReportService userReportService
@inject IJSRuntime jsRuntime
@implements IDisposable

@page "/userlookup"
@page "/userlookup/{Username}"

<div class="container-fluid">
    <div class="row">
        <div class="col-4">
            <input class="form-control" placeholder="Twitch Username" @onkeyup="KeyUpEvent" type="text" @bind-value="searchTerm" />
            @if (!string.IsNullOrEmpty(userReportService.UserReportLookupError))
            {
                <p>
                    @userReportService.UserReportLookupError
                </p>
            }
        </div>
        <div class="col-8">
            <button class="btn btn-primary" @onclick="async () => await SearchFor()">Search</button>
        </div>
    </div>
    <hr />
    @if (Loading)
    {
        <div class="spinner-grow" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    }
    @if (model != null)
    {
        <div class="row">
            <div class="col">
                <h5>Associated Accounts</h5>
                <ul class="list-group bg-dark">
                    @foreach (var username in model.AssociatedAccounts)
                    {
                        <li class="list-group-item list-group-item-dark">@username</li>
                    }
                </ul>
            </div>
            <div class="col">
                <h5>Banned In</h5>
                @if (model.BannedFromChannels.Count > 0)
                {
                    <ul class="list-group bg-dark">
                        @foreach (var channel in model.BannedFromChannels.OrderBy(x => x))
                        {
                            <li class="list-group-item list-group-item-dark">@channel</li>
                        }
                    </ul>
                }
            </div>
            <div class="col">
                <h5>Timeouts In</h5>
                @if (model.TimedoutFromChannels.Count > 0)
                {
                    <ul class="list-group bg-dark">
                        @foreach (var channel in model.TimedoutFromChannels.OrderBy(x => x))
                        {
                            <li class="list-group-item list-group-item-dark">@channel</li>
                        }
                    </ul>
                }
            </div>
            <div class="col">
                <h5>Tagged As</h5>
                @foreach (var tag in model.Tags)
                {
                    <span class="badge badge-secondary" data-placement="right" title="@tag.TagDescription">
                        @tag.TagName
                    </span>
                }
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <h5>Suspensions</h5>
                <div class="accordion" id="suspensionsAccordion">
                    @foreach (var suspension in model.Suspensions.OrderByDescending(x => x.Timestamp))
                    {
                        <div class="card bg-dark">
                            <div class="card-header">
                                <button class="btn btn-secondary btn-block text-left collapsed text-light" type="button" data-toggle="collapse" data-target="@("#suspension"+counter)" aria-expanded="false">
                                    @suspension.LocalTimeStamp().FancyFormat() -
                                    <b>@suspension.Username</b>
                                    @(suspension.Duration == 0 ? "Permanent" : $"{suspension.Duration.ToString()} seconds")
                                    @suspension.SuspensionType.ToString()
                                    @if (suspension.SuspensionSource == SuspensionSourceModel.User)
                                    {
                                        <span class="badge badge-warning">
                                            <b class="text-danger">MANUAL</b>
                                        </span>
                                    }
                                    @if (suspension.SuspensionSource == SuspensionSourceModel.System)
                                    {
                                        <span class="badge badge-danger">
                                            <b class="text-warning">SYSTEM</b>
                                        </span>
                                    }
                                </button>
                            </div>
                            <div id="@("suspension"+counter)" class="collapse" data-parent="#suspensionsAccordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            @if (suspension.Images.Count > 0)
                                            {
                                                <button class="btn btn-primary btn-sm" @onclick="async _ => await SelectSuspensionAndShowModal(suspension.SuspensionId)">Show Images</button>
                                            }
                                        </div>
                                    </div>
                                    @if (suspension.Tags.Count != 0)
                                    {
                                        @foreach (var tag in suspension.Tags)
                                        {
                                            <span class="badge badge-secondary" data-placement="right" title="@tag.TagDescription">
                                                @tag.TagName
                                            </span>
                                        }
                                        <hr />
                                    }
                                    @if (suspension.LinkedUsernames.Count != 0)
                                    {
                                        <p>
                                            <b>Linked Usernames</b>
                                        </p>
                                        @foreach (var username in suspension.LinkedUsernames)
                                        {
                                            <span class="badge badge-danger">@username</span>
                                        }
                                        <hr />
                                    }
                                    @foreach (var message in suspension.Messages)
                                    {
                                        <p><b>@message.LocalTimestamp()</b> @message.Message</p>
                                    }
                                </div>
                            </div>
                        </div>
                        { counter++; }
                    }
                </div>
            </div>
        </div>
    }
</div>

<!-- Modal For SuspensionImages -->
<div class="modal fade" id="suspensionImagesUserLookupModal" tabindex="-1" role="dialog" aria-labelledby="suspensionImagesUserLookupModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl bg-dark text-center">
        <div class="modal-content bg-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="suspensionImagesUserLookupModalLabel">Images for suspension</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @if (currentlySelected != null)
                {
                    foreach (var imageUrl in currentlySelected.Images)
                    {
                        <img class="img-fluid" src="@imageUrl" />
                    }
                }
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Username { get; set; }

    private int counter = 0;
    private UserReportModel model;

    private string searchTerm = "";

    private bool Loading = false;

    private SuspensionModel currentlySelected;

    private async Task SelectSuspensionAndShowModal(Guid suspensionId)
    {
        currentlySelected = model.Suspensions.Find(x => x.SuspensionId == suspensionId);
        await jsRuntime.InvokeVoidAsync("OpenModalForDisplayingImagesUserLookup");

        UpdateUi();
    }

    protected override async Task OnInitializedAsync()
    {
        userReportService.OnChange += UpdateUi;

        if (!string.IsNullOrEmpty(Username))
        {
            searchTerm = Username;
            await SearchFor();
        }
    }

    private void UpdateUi()
    {
        model = userReportService.UserReport;
        Loading = false;
        StateHasChanged();
    }

    private async Task KeyUpEvent(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            await SearchFor();
        }
    }

    private async Task SearchFor()
    {
        Loading = true;

        await userReportService.SearchForUser(searchTerm);
    }

    public void Dispose()
    {
        userReportService.OnChange -= UpdateUi;
    }
}
